@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__zpvd, #__layout, #__layout > div {
  // min-height: 100%;
  height: 100vh;
}

#__layout > div {
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    &:before {
      content: "";
      position: absolute;
      transition: all 0.3s ease 0s;

      background-color: #a7a4a4;
      opacity: 0;
    }
  }
  main.lock::before {
    opacity: 0.5!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  div.layout-responsive {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #101828;
  }

  //screen lg - делаем "фикс" с горизонтальным скролом
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    body, #__layout {
      overflow-x: auto;
    }
    div.layout-responsive {
      min-width: 1280px;
    }
  }
}
