<template>
  <div class="layout-responsive">
    <header>
      <h1 style="padding-top: 30px">Тестовое задание "Заповедник"</h1>
    </header>
    <div class="page-content">
      <Nuxt/>
    </div>
  </div>
</template>

<script>
export default {}
</script>
