<script>

export default {
  name: 'Example',
  data: () => ({
    response: null
  }),
  // async mounted() {
  //   this.response = await this.getProducts()
  // },
  methods: {
    getProducts () {
      return this.$axios.$get('/catalog/product/get_page/',{
        params: {
          page: 1,
          perPage: 5,
          'sort[SORT]': 'ASC',
          'sort[PROPERTY_POPULARITY]': 'DESC',
          'prefilter[PROPERTY_BREND]': 8223,
          'filter[AVAILABLE]': 'true'

        }
      })
    }
  }
}
</script>

<template>
<div class="page">
  <h3 class="header">Задачи:</h3>

  <ol class="tasks-list">
    <li>Создать новую страницу "products"</li>
    <li>
      <a href="https://www.figma.com/file/DsmOEvhSa1d8QZUadXYqGm/New-%D0%97%D0%B0%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%BD%D0%B8%D0%BA?node-id=493%3A26234&mode=dev" target="_blank">
      Открыть макеты
    </a>
      .Выбрать вкладку "Главная"
    </li>
    <li>Выбрать любой блок товаров (5 товаров в строку) и приступить к реализации</li>
      <ul>
        <li>Ключевые брейкопоинты можно изучить в figma на вкладке "Каркас" или обсудить со мной</li>
        <li>Сохраняем 5 товаров в строке до брейкпоинта 1280 включительно. Далее с 1279-1024 наш div-контейнер с классом layout-responsive имеет горзонтальный скролл (оставляем 5 товаров в строке)</li>
        <li>На брейкопоинтах 361-1023  - делаем горизонатльный скрол листинга</li>
        <li>На брейкопоинтах 320-360 включительно -  делаем 2 товара в строку</li>
      </ul>
    <li>
      Запрос на бэкенд реализовать через axios. URL <b>"/catalog/product/get_page/"</b>. Пример запроса можно посмотреть на странице <b>/tasks</b>.
      Использовать следующие поля:
    </li>
      <ul>
        <li>preview_picture</li>
        <li>name</li>
        <li>price.discount_price</li>
        <li>price.old_price</li>
        <li>bonus_in</li>
      </ul>
    <li>
      В папке types реализовать типизаию возращаемого ответа с сервера
    </li>
    <li>
      В GIT создать новую ветку и сделать push.
    </li>
  </ol>
</div>
</template>

<style scoped lang="scss">
.page {
  padding: 20px;
}
.header {
  //
}
ol.tasks-list {
  margin-top: 30px;
  margin-left: 30px;
  li {
    margin-bottom: 15px;
  }
}
.tasks-list ul li {
  margin-left: 30px;
}
</style>
